.center{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 15px;
}
.directionsBtn>button{
  margin: 10px;
}
label{
  margin:10px;
}
